<footer>
    <section class="links">
        <div class="cont cont-links">
                <div class="footer-nav-wrapper">

                    <!--<div class="link-group about">
                        <span class="footer-link-wrapper">
                            <a href="about/whatistechpocket/index.php" class="link-1">
                                <p>Facebook</p>
                            </a>
                            </span>
                        
                    </div>-->

                    <div class="brief-page-info">
                        <div>
                            <p>En tu móvil:</p>
                        </div>
                        <img src="../../../assets/img/codigoQR.png" alt="Código QR">
                    </div>

                    <div class="social"></div>
                </div>
        </div>
    </section>
</footer>

<!--<div class="component-container">

    <div id="arg_prog_log">
        <a  href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <p>Facebook</p>
         </a>
         <a  href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <p>Facebook</p>
         </a>
         <a  href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <p>Facebook</p>
         </a>
    </div>
   
    
    <div class="wrap">
        <div>
            <p>En tu móvil:</p>
        </div>
<img src="../../../assets/img/codigoQR.png" alt="">      
    </div>

</div>-->