<app-header></app-header>

<div class="container container-fluid" styles="background:blue;">

    <app-presentation></app-presentation>
    
    <main class="container1">

        <div class="dinamic">
            
            <article>

                <app-projects></app-projects>
                <app-experience></app-experience>
                
            </article>
            <!--Sidebar-->
            <app-skills></app-skills>

        </div>
        
        <app-studies></app-studies>
        <!--Contact-->

    </main>

</div>

<app-footer></app-footer>

