.component-container {
    display: flex;
    background-color: var(--principal-background);
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    height: 80px;
    margin-top: 0%;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 3px solid var(--second-background);
}

#arg-prog-log {
    width:120px;
    margin-top:1px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 32px;
    height: 32px;
    background-color: var(--principal-background);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: var(--principal-background);
    box-shadow: 0px 5px 10px var(--principal-background-hover);
    color: var(--principal-background);
    /*transform: translateY(-7px);*/
  }


