<div class="component-container">

    <div id="arg_prog_log">
        <a  href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <img id="arg-prog-log" src="../../../../assets/img/APLogo-20-20.png" alt="Argentina Programa - logo">
         </a>
    </div>
   
    
    <div class="wrap">
        <button class="button"><img src="https://i.ibb.co/RCQ18Tg/user-interface.png" alt="User interface"></button>
      </div>

</div>


