<div class="component-container">
    <h5>Estudios, cursos y talleres</h5>
    
    <div class="button">
        <app-button-add data-toggle="modal" data-target="#add_study"></app-button-add>
        <app-form-add-study class="modal" id="add_study"></app-form-add-study>
    </div>
        <div class="subcontainer1">
           
    <div class="subcontainer" *ngFor="let study of studies">
        <ul class="principal"  *ngIf="study.logo_studies != ''" >

            <li>
                <div class="img">
                    <img [src]="study.logo_studies" alt="Logo Argentina Programa">
                </div>

                <div class="studies">
                    <h6>{{study.title_studies}}</h6>
                    <P>{{study.insti_studios}}</P>
                    <p>{{study.anio_iniStudy}}-{{study.anio_end}}</p>
                </div>
            </li>
        </ul>

        <ul class="course" *ngIf="study.logo_studies == ''">
            <li class="studies">
                <h6>{{study.title_studies}}</h6>
                <p>{{study.insti_studios}}</p>
                <p>{{study.anio_iniStudy || study.anio_end}}</p>
            </li>
            
        </ul>
    </div>
        </div>
    
</div>