.component-container{
    margin-top: 30px;
}

.subcontainer1{
    display: grid;
    gap: 5px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

ul {
    padding: 5px;
}

li {
    display:grid;
    grid-template-columns: 1fr 4fr;
    word-wrap: break-word;
    gap: 5px;
    margin-left: 5px;
    padding-right: 8px;
}

img {
    width: 40px;
    background:white;
}

.img {
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

h6 {
    font-size:14px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 0px;
}

h6, p {
    min-height: 2%;
    margin-bottom: 0%;
    margin-top:0%;
}

p {
    font-size: 11px;
}

li.studies {
    display: block;
}

.studies {
    min-height: 80px;
    margin-top: 10px;
    
}

@media screen and (max-width:500px) {
    .subcontainer {
        display:block;
    }
}

