<!--Form Text---------->
<div >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"> 
            <h5 class="modal-title">Editar</h5>
          
  
            
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Nueva Presentación</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-save">Save</button>
          <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
