<article class="component-container">

    <div class="title">
        <h3>Mis proyectos en proceso</h3>
    </div>

    <!--Boton y formulario agregar-->
    <div class="button">
        <app-button-add data-toggle="modal" data-target="#add_proy"></app-button-add>
        <app-form-proy-add class="modal" id="add_proy" arie-hidden="true"></app-form-proy-add>
    </div>
    <br>

    <div class="flex">
        <div *ngFor="let project of projects" class="ngPrincipal sub_project">

            <div class="card principal-card" *ngIf="project.principal===true">

                <!--Botones y formulario edit y delete-->
                <div class="button">
                    <app-button-edit data-toggle="modal" data-target="#edit_proy"
                        (click)="getProjectById(project.id_project)"></app-button-edit>
                    <app-button-delete (click)="deleteProject(project.id_project)"></app-button-delete>

                    <!--Formulario Editar Projecto"-->
                    <div class="modal" id="edit_proy">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editar projecto</h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formEditProy1">
                                        <div class="form-group">
                                            <!---->

                                            <label for="name_project">Nombre del projecto</label>
                                            <input class="form-control" formControlName="name_project" placeholder="">
                                            <!--formControlName="name_project"-->

                                            <label for="exampleFormControlTextarea1">Nueva descripción</label>
                                            <textarea class="form-control" rows="5" formControlName="description">
                                            </textarea>

                                            <label for="principal">¿Desea destacar este proyecto?</label>
                                            <select formControlName="principal" id="" class="form-control">
                                                <option value="true">Sí</option>
                                                <option value="false">No</option>
                                            </select>


                                            <label for="form-control">Inserte la url de la nueva imagen</label>
                                            <input class="form-control" formControlName="img_proy"
                                                placeholder="Inserte la url de la imagen del proyecto.">

                                            <label for="link_project"></label>
                                            <input class="form-control" formControlName="link_project"
                                                placeholder="Inserte el link al proyecto.">

                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-save"
                                                    (click)="editProject()">Guardar</button>
                                                <button type="button" class="btn btn-close" data-dismiss="modal">
                                                    Cerrar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin del formulario-->
                </div>

                <div class="objetfitcover">

                    <img [src]="project.img_proy" class="card-img-top" alt="...">
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{project.name_project}}</h5>
                    <p class="card-principal-text"><a [href]="project.link_project"
                            target="_blank">{{project.name_project}}</a> - {{project.description}}</p>
                </div>
            </div>
        </div>
        <div class="other_proy sub_project">
            <div class="ngForOther" *ngFor="let project of projects">




                <div class="cardOthers" *ngIf="project.principal === false">

                        <!--Botones y formulario edit y delete-->
                        <div class="button button1">
                            <app-button-edit data-toggle="modal" data-target="#edit_proy1"
                                (click)="getProjectById(project.id_project)"></app-button-edit>
                            <app-button-delete (click)="deleteProject(project.id_project)"></app-button-delete>

                            <!--Formulario Editar Projecto"-->
                            <div class="modal" id="edit_proy1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Editar projecto</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="formEditProy1">
                                                <div class="form-group">
                                                    <!---->

                                                    <label for="name_project">Nombre del projecto</label>
                                                    <input class="form-control" formControlName="name_project"
                                                        placeholder="">
                                                    <!--formControlName="name_project"-->

                                                    <label for="exampleFormControlTextarea1">Nueva descripción</label>
                                                    <textarea class="form-control" rows="5"
                                                        formControlName="description">
                                                                                        </textarea>
                                                                                        


                                                    <label for="principal">¿Desea destacar este proyecto?</label>
                                                    <select formControlName="principal" id="" class="form-control">
                                                        <option value="true">Sí</option>
                                                        <option value="false">No</option>
                                                    </select>

                                                    <label for="form-control">Inserte la url de la nueva imagen</label>
                                                    <input class="form-control" formControlName="img_proy"
                                                        placeholder="Inserte la url de la imagen del proyecto.">

                                                    <label for="link_project"></label>
                                                    <input class="form-control" formControlName="link_project"
                                                        placeholder="Inserte el link al proyecto.">

                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-save"
                                                            (click)="editProject()">Guardar</button>
                                                        <button type="button" class="btn btn-close" data-dismiss="modal">
                                                            Cerrar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fin del formulario-->
                        </div>


                    <div class="card option1">

                        <a [href]="project.link_project" target="_blank">
                            <img [src]="project.img_proy" class="card-img imgCard1" alt="...">
                        </a>
                        <div class="card-img-overlay">

                            <p class="card-text"><strong>{{project.name_project}}</strong> - {{project.description}}</p>
                        </div>
                    </div>

                    <div class="card option2">

                        <a [href]="project.link_project" target="_blank">
                            <img [src]="project.img_proy" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title2">{{project.name_project}}</h5>
                            <p class="card-text2">{{project.description}}</p>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</article>