a {
    text-decoration: none;
}

.component-container {
    width:70% ;
    height: auto;
    /*border: 3px solid brown;*/
    padding:5px;
}

.flex{
    display: flex;
    gap: 10px;
}
.ngForOther {
    /*background-color: blueviolet;*/
    width: auto;
   
}
.card{
    border: none;
}
.card-img-overlay{
    display: flex;
    align-items: flex-end;
}
 .title{
    width: 100%;
    /*background-color: blueviolet;*/
 }
 
.objetfitcover > img{
	max-height: 300px;
	object-fit: cover;
    
	
}
.option1{
    max-height: 50%;
    object-fit: cover;
    
}

.option2 {
    display: none;
   
}

.card-text{
    border-radius: 10px;
 opacity: 0;
 color:var(--principal-background);
 font-family: var(--special-style);
}

.card-text:hover{
    opacity: 1;
    background-color: white;
    padding: 5px;
}


.other_proy{
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: auto;
    /*background-color: goldenrod;*/
    
    padding-top: 0px;
    padding-bottom: auto;
}
.card-img{
    padding-top: 0px;
    border-radius: 10%;
}
.principal-card{
    /*border: 2 px solid fuchsia;*/
}

.cardOthers{
    margin-bottom: 20px;
   
}
/*
.ngOthers {
    border: 2px solid orange;
    grid-column: span 1;
    height: 0%;
}*/

p {
    font-family: var(--simple-text);
    color:black;
}

h2, h5 {
    font-family: var(--simple-text);
}

.button {
    width: 100%;
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 1200px) {
    .flex {
        display: block;
        width: 100%;
    
    }

    .other_proy{
        width: 100%;
       gap:20px;
        display: grid;
        grid-template-columns: 1fr 100fr 100fr;
        padding-right: 20px;
    }
    /*.ngForOther{
       display: flex;
       flex-direction: row;
        gap:20px;
    }*/

    .option1{
        display:none;
    }
    .option2 {
        display:contents;
        
    }

   /* .cardOthers{
        width: 40%;
    }*/
}

@media screen and (max-width: 500px){
    .other_proy{
        display: block;
        width: 100%;
        padding: 5px;
    }

    .cardOthers{
        border: 2px solid var(--principal-background);
        margin: 30px;
    }
}


