<div>
    <!--[formGroup]="Agregar proyecto"-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar projecto</h5>



                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProject" (ngSubmit)="addProject()">
                    <div class="form-group">

                        <!--Cambiar url-->
                        <div class="fondo">
                            <img id="imagen" alt="Aqui se carga la imagen" [src]="project.img_proy" />
                        </div>



                        <label for="">Inserte la url de la nueva imagen</label>
                        <input type="text" id="url_imagen" formControlName="img_proy"
                            onchange="document.getElementById('imagen').src=this.value;" required />

                        <div>
                            <!--class="form-group"-->
                            <label for="exampleFormControlTextarea1">Nueva descripción</label>
                            <textarea formControlName="description" class="form-control"
                                id="exampleFormControlTextarea1" rows="5" required></textarea>
                        </div>
                        <!--
                <input type="text" formControlName="id_project" class="form-control" placeholder="id_project" required>-->
                        <input type="text" formControlName="name_project" class="form-control"
                            placeholder="nombre del poyecto" required>
                        <label for="principal">¿Es el proyecto principal?
                            <input type="text" formControlName="principal" class="form-control"
                                name="principal"></label>
                        <input type="text" formControlName="link_project" class="form-control"
                            placeholder="link al proyecto" required>
                        <input type="text" formControlName="logo_project" class="form-control"
                            placeholder="link del logo del projecto" required>
                            <div class="modal-footer">
                                <!--<button type="button" class="btn btn-try">Probar</button>-->
                                <button type="button" class="btn btn-save" (click)="addProject()">Guardar</button>
                                <!--(click)="updatePerson()"-->
                                <button type="button" class="btn btn-close" data-dismiss="modal">Cerrar</button>
                            </div>

                    </div>

                   
                </form>
            </div>

        </div>
    </div>
</div>