
.component-container {
    background:var(--principal-background-hover);
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.skill {
   height: 60px;
   text-align: center;
  margin-top: 30px;
}

.progress {
    height: 30px;
    width: auto;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    border-radius: 0%;
    margin-bottom: 3px;
    background:wheat;
    
}

.progress-bar {
    background:var(--principal-background);
    border-right:2px solid var(--second-background);
}

h6 {
    margin:5px, 0, 3px, 0;
}

@media screen and (max-width: 500px) {
    .component-container{
        
        display:grid;
        gap:1rem;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    .skill{
        border: 3px solid black;
    }
}
