<div class="component-container">
    <div class="sub-container row d-block mt-100" *ngFor="let skill of skills">

        <div class="progress blue">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">{{skill.skill_progress}}</div>
            
          </div>
        <div clas="skill_name">
            <p>{{skill.name_skill}}</p>
        </div>
       
    </div>
</div>