<app-header></app-header>

<div class="container container-fluid" styles="background:blue;">

    <!--<app-presentation></app-presentation>-->
    
    <main class="container1">

        <div class="dinamic">
            
            <article>

                <!--Projects-->
                <!--<app-projects></app-projects>-->
               
                <!--Experience-->
                <!--<app-experience></app-experience>-->
                <app-experience></app-experience>

            </article>
            <!--Sidebar-->

        </div>
        <!--Studies-->
        <!--Contact-->

    </main>
<!--Footer-->
</div>