<div>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar proyecto</h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProject">
                    <div class="form-group">

                        <label for="">Inserte la url de la nueva imagen</label>
                        <input type="text" id="url_imagen" formControlName="img_proy" />

                        <label for="exampleFormControlTextarea1">Nueva descripción</label>
                        <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
                            rows="5"></textarea>

                        <label for="name_project"> Nombre del proyecto</label>
                        <input type="text" formControlName="name_project" class="form-control"
                            placeholder="nombre del poyecto">


                        <label for="principal">¿Es el proyecto principal?</label>
                        <input type="text" formControlName="principal" class="form-control" value="true">

                        <label for="link_project"></label>
                        <input type="text" formControlName="link_project" class="form-control"
                            placeholder="link al proyecto">

                        <label for="logo_project"></label>
                        <input type="text" formControlName="logo_project" class="form-control"
                            placeholder="link del logo del projecto">

                        <div class="modal-footer">
                            <button type="button submit" class="btn btn-save" (click)="addProject3()">Guardar</button>
                            <button type="button" class="btn btn-close" data-dismiss="modal">Cerrar</button>
                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>