<form class="form" [formGroup]="miFormulario"  class="login-form">

    <!-- Single Input 1 -->
    <div class="contenedor">
      <div class="name">
  
    
        <input class="input" type="text" id="name" name="name" formControlName="name_project" placeholder="Nombre" />
      </div>
      <!-- Single Input 1 -->
      <div class="singleInput">
  
        
        <input class="input" type="text" id="information" name="information" formControlName="principal"
          placeholder="principal" />
      </div>
      <!-- Single Input 1 -->
      <div class="singleInput">
  
        
        <input class="input" type="text" id="imageUrl" name="imageUrl" formControlName="description"
          placeholder="Url imagen" />
      </div>
  
      <div class="singleInput">
  
        
        <input class="input" type="text" id="repoUrl" name="repoUrl" formControlName="img_proy" placeholder="Url repo" />
      </div>

      <input class="input" type="text" id="repoUrl" name="repoUrl" formControlName="logo_img" placeholder="Url repo" />
      </div>

      <input class="input" type="text" id="repoUrl" name="repoUrl" formControlName="link_project" placeholder="Url repo" />
      
      <!-- Botones -->
  
      <div class="btn-add">
        <button class="btn" type="button" type="submit" (click)="onSubmit()">
          Enviar
        </button>
      </div>
    
  </form>