<div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"> 
            <h5 class="modal-title">Cambiar imagen</h5>
          
  
            
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  [formGroup]="formPresentation">
            <div class="form-group">
                
             <!--Cambiar url--> 
             <div class="fondo">
                <img id="imagen" alt="Aqui se carga la imagen" [src]="person.professional_photo"/>
             </div>
             
             
            <form class="newImage">
                <label for="">Inserte la url de la nueva imagen</label>
                    <input [(ngModel)]="person.professional_photo" type="text" id="url_imagen" name="professional_photo" onchange="document.getElementById('imagen').src=this.value;" required/>
           
                <div><!--class="form-group"-->
                  <label for="exampleFormControlTextarea1">Nueva Presentación</label>
                  <textarea [(ngModel)]="person.presentation" name="presentation" class="form-control" id="exampleFormControlTextarea1" rows="5" required></textarea>
                </div>
                
                <input [(ngModel)]="person.name" type="text" name="name" class="form-control" placeholder=name required>
                <input [(ngModel)]="person.lastName" type="text" name="lastName" class="form-control" placeholder="apellido" required>
                <input [(ngModel)]="person.age" type="text" name="age" class="form-control" placeholder="edad" required>
                <input [(ngModel)]="person.origin" type="text" name="origin" class="form-control" placeholder="ciudad" required>
                <input [(ngModel)]="person.profession" type="text" name="profession" class="form-control" placeholder="título" required>
                
            </form>



            </div>
            <div class="modal-footer">
              <!--<button type="button" class="btn btn-try">Probar</button>-->
              <button  type="button" class="btn btn-save" (click)="updatePerson()">Guardar</button><!--(click)="updatePerson()"-->
              <button type="button" class="btn btn-close" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
        </div>
        
      </div>
    </div>
  </div>
