
.component-container {
    background:var(--principal-background-hover); /*VOLVER A HABILITAR*/
    height: 100%;
    padding: 20px;
    border-radius: 20px;

}


.skill {
   text-align: center;
   margin-top: 5px;
}

.progress {
    height: 30px;
    width: auto;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    border-radius: 0%;
    margin-bottom: 3px;
    background:wheat;
}

.progress-bar {
    background:var(--principal-background);
    border-right:2px solid var(--second-background);
}

h6 {
    margin:5px, 0, 3px, 0;
}

@media screen and (max-width: 500px) {
.component-container{
    height: auto;
}

    .subcontainer{
        width: 100%;
        display: grid;
    gap: 5px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    }
}
