<div class="component-container">
    <h5>Skills</h5>

    <!--Botón para agregar skill-->
    <div class="button">
        <app-button-add data-toggle="modal" data-target="#add_skill"></app-button-add>
        <app-form-add-skill class="modal" id="add_skill"></app-form-add-skill>
    </div>
    <div class="subcontainer">
        <div class="skill" *ngFor="let skill of skills">
            <div class="button">
                <app-button-edit data-toggle="modal" data-target="#edit_skill" (click)="getSkillById(skill.id)"></app-button-edit>
                <app-button-delete (click)="deleteSk(skill.id)"></app-button-delete>
                <!--Formulario para editar-->
                <div class="modal" id="edit_skill">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Editar Skill</h5>
                    
                    
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="formEditSk">
                                    <div class="form-group">
                    
                                        <label for="">Tecnología:</label>
                                        <input type="text" id="url_imagen" formControlName="name_skill" class="form-control" />
                    
                                        <label for="name_project">Porcentaje:</label>
                                        <input type="text" formControlName="skill_progress" class="form-control"
                                            placeholder="nombre del poyecto">
                    
                                        <div class="modal-footer">
                                            <button type="button submit" class="btn btn-save" (click)="editSkill(skill.id)">Guardar</button>
                                            <button type="button" class="btn btn-close" data-dismiss="modal">Cerrar</button>
                                        </div>
                    
                                    </div>
                    
                                </form>
                            </div>
                    
                        </div>
                    </div>
                    
                </div>
                <!--Fin del formulario-->
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': skill.skill_progress}" style="width: 85%;"></div>
            </div>
            <h6>{{skill.name_skill}}</h6>
        </div>
    </div>

</div>