<div class="component-container container-fluid">
  <!-- *ngFor="let person of people"-->

  <!--Presentation- Recordar cambiar en style Article element por clase-->
  <div class="container1">

    <div class="img-presentation">

      <div class="button">

        <app-button-edit class="prof_photo" data-toggle="modal" data-target="#modal_prof_photo1"
          (click)="getPersonToEdit()"></app-button-edit>
        <app-form-presentation class="modal" tabindex="-1" id="modal_prof_photo" arie-hidden="true">
        </app-form-presentation>

        <!--Formulario de edición-->
        <div class="modal" id="modal_prof_photo1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Editar datos</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formEdit">
                  <!---->
                  <div class="form-group" >

                    <div class="newImage">
                      <label for="">Inserte la url de la nueva imagen</label>
                      <input formControlName="professional_photo" type="text" id="url_imagen" class="form-control"
                         />

                      <div>
                        <!--class="form-group"-->
                        <label for="presentation">Nueva Presentación</label>
                        <textarea formControlName="presentation" name="presentation" class="form-control"
                          id="exampleFormControlTextarea1" rows="5" required></textarea>
                      </div>
                      <label for="name">Nombres:</label>
                      <input formControlName="name" type="text" class="form-control my-1" placeholder=name>

                      <label for="lastName">Apellido:</label>
                      <input formControlName="lastName" type="text" name="lastName" class="form-control"
                        placeholder="apellido">

                        <!--Inputs de prueba de date--> 

                        <label for="age">Edad:</label>
                      <input formControlName="age" type="text" name="age" class="form-control" placeholder="edad">

                      <label for="origin">Origen:</label>
                      <input formControlName="origin" type="text" name="origin" class="form-control"
                        placeholder="ciudad">

                        <label for="profession">Título:</label>
                      <input formControlName="profession" type="text" name="profession" class="form-control"
                        placeholder="título">

                    </div>

                  </div>
                  <div class="modal-footer">
                    <!--<button type="button" class="btn btn-try">Probar</button>-->
                    <button type="button" class="btn btn-save" (click)="editPresentation()">Guardar</button>
                    <!---->
                    <button type="button" class="btn btn-close" data-dismiss="modal">Cerrar</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
        <!--Fin del formulario de edición-->
        <!--<app-form-img class="modal" tabindex="-1" id="modal_prof_photo" arie-hidden="true"></app-form-img>-->
      </div>
      <img [src]="person.professional_photo" alt="Lola-y-yo-en-Mascompany" class="img-fluid photo" alt="...">
    </div>


    <div class="presentation">
      <!--aria-labelledby="textArea" role="dialog"-->
      <!--
      <div class="button">
        <app-button-edit data-toggle="modal" data-target="#ventana-modal"></app-button-edit>
        <app-form-text class="modal" tabindex="-1" id="ventana-modal"   arie-hidden="true"></app-form-text>
      </div>
      -->
      <h4>Sobre mí</h4>

      <p class="text-presentation">{{person.presentation}}</p>
    </div>
  </div>

  <div class="resume">
    <div id="resume_data">
    </div>

    <span id="name">{{person.name}} {{person.lastName}} - {{person.age}} años.</span><br>
    <span id="profession">{{person.profession}}</span><br>
    <span id="origin">{{person.origin}}</span>

  </div>
</div>